{% extends "layout.html" %}
{% block content %}
    <div class="about-box">
        <h1>THE METADATA API</h1>
        <p>This is a demonstrative API created by a student of Turku University Of Applied Sciences, Joonas Heinonen as a part of CoSIE-project that seeks co-creation in innovative services.</p>
        <p>Developed in 2018, this application programming interface is a RESTful API, using POST, GET, DELETE and PUT-methods to work. For the data used, it uses CCMS standard and the 
            database is incoded in Json-format. API is programmed with Python, using the Flask miniframework.</p>
        <p>For now, the user is only able to use GET-method via the user interface. For all the other methods, user should have a cURL to perform all the other methods, DELETE, PUT and POST.
            The API will display either all of the books or one single book via GET-method.
        </p>
    </div>
{% endblock content %}